.productsOverview{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
   

    .description{
        h3{
            color:var(--black-color);
            font-weight: 700;

        }
        span{
            color:var(--secondary-color);
        }
    }
    .productsCategories{
        ul{
            .active{
                    border-bottom:3px solid var(--primary-color)
                }
            li{
                list-style-type: none;
                display: inline-block;
                margin: 1rem;
                color:var(--black-color);
                font-weight: 300;
                font-size: 13px;
                cursor: pointer;
                
            }
        }
    }
}
.products{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 3rem;
}