.productsOverview {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;

  .description {
    h3 {
      color: var(--black-color);
      font-weight: 700;
    }
    span {
      color: var(--secondary-color);
    }
  }
  .productsCategories {
    ul {
      display: flex;

      li {
        list-style-type: none;
        display: inline-block;
        margin: 1rem;
        color: var(--black-color);
        font-weight: 400;
        font-size: 13px;
        cursor: pointer;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}
.products {
  width: 80%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(2rem, 1fr));
}
@media screen and (max-width: 1000px) {
  .products {
    grid-template-columns: repeat(3, minmax(0.5rem, 1fr));
    gap: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .productsOverview {
    flex-direction: column;
    text-align: center;

    .productsCategories {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          padding: 0.5rem;
        }
      }
    }
  }
  .products {
    grid-template-columns: repeat(2, minmax(0.5rem, 1fr));
    gap: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .productsOverview {
    .productsCategories {
      ul {
        li {
          font-size: 12px;
          margin: 0.3rem;
        }
      }
    }
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 3rem;
  }
}
