.categoriesList {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  .category {
    &:hover {
      span {
        color: var(--primary-color);
        cursor: pointer;
        border-bottom: 2px solid var(--primary-color);
      }
      i {
        color: var(--primary-color);
      }
    }
    span {
      color: var(--grey-color);
    }
    i {
      color: var(--secondary-color);
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .category {
    span {
      font-size: 10px;
    }
    i {
      font-size: 12px;
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 800px) {
  .categoriesList {
    display: none;
  }
}
