.categoriesList{
    display: flex;
    width: 80%;
    justify-content:space-between;
    align-items: center;
    margin:auto;
    


    .category{
       
        span{
            color:var(--grey-color)
        }
        i{
            color:var(--secondary-color);
            margin-right: 10px;
        }
    }

    .DrawerToggle {
        width: 40px;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    .DrawerToggle .bar {
        width: 90%;
        height: 3px;
        background-color: var(--secondary-color);
        margin: 1px 5px ;
    }
        
        
        
        
    }



// @media (min-width: 500px) {
//             .DrawerToggle {
//                 display: none;
//             }
//         }
@media screen and (max-width:1000px){
    .category{
            span{
                font-size: 10px;
            }
            i{
                font-size: 12px;
                margin-right:5px ;
            }
        }
        }

