.cartItem {
    width: 12rem;
    display: flex;
    height: 80px;
    margin-bottom: 15px;
    justify-content: flex-start;
  
    img {
      width: 30%;
     
    }
  
    .itemDetails {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  
      .name {
        font-size: 13px;
        color: var(--black-color);
      }
      .price{
          color:var(--secondary-color)
      }
    }
  }
  