.card {
  margin: 1.5rem 0;
  width: 14rem;
  height: 24rem;
  border: solid 1px #e6ecef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white-color);
  border-radius: 2px;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .price {
    display: flex;
    justify-content: center;

    .new {
      color: var(--primary-color);
      margin: 1rem 1rem 0.2rem 1rem;
      font-weight: 700;
    }
    .old {
      margin: 1rem 1rem 0.2rem 1rem;
      color: var(--grey-color);
      text-decoration: line-through;
    }
  }
  .title {
    width: 100%;
    display: block;
    font-size: 13px;
    margin: 0.5rem 0.5rem;
    color: var(--black-color);
  }
  .quantity {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    select {
      width: 65%;
      padding: 0.5rem;
      margin-right: 0.3rem;
    }
    .btn {
      display: block;
      background-color: var(--secondary-color);
      border: none;
      color: var(--white-color);
      width: 30%;
      &:hover {
        background-color: var(--primary-color);
      }
      &:active {
        color: var(--black-color);
      }
    }
  }
  .lastUpdate {
    background-color: #f6f8f9;
    margin: auto;
    width: 100%;
    height: 3rem;
    border: solid 1px #e6ecef;
    text-align: center;
    align-self: flex-end;
    span {
      width: 100%;
      font-size: 10px;
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 12rem;
    margin: 0;

    .title {
      width: 80%;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
