.cartDropdown{
    position: absolute;
    width: 250px;
    max-height: 340px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    top: 3.7rem;
    right: 0;
    z-index: 5;
    padding:10px;


.cartItems{
      height: 240px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      overflow: auto;
      @media screen and (max-width:1330px){

    }
    }

}