.showcase{
    width: 100%;
    background: url("/images/Layer\ 7.png")  center no-repeat;
    height: 55vh;
    position: relative;
    margin-top: 1rem;
    

    .textBox{
        width: 50vw;
        background-color: var(--white-color);
        border-bottom: 6px solid var(--secondary-color);
        position: absolute;
        top: 40px;
        box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.21);
            height: 16rem;

        @media screen and (max-width:1000px){
            h2{
                width: 80%;
                margin: 0;
                font-size: 20px;
            }
            
        }
        h2{
            text-transform: uppercase;
            width: 60%;
            margin-left: 3rem;
            margin-top: 2rem;
            color:#303637;
            span{
                color:var(--primary-color);
                font-weight: 900;
            }
        }
        p{
            margin-left: 3rem;
            width: 80%;
            color:var(--grey-color);
            line-height: 20px;
            
        }
        i{
            position: absolute;
            right: 30px;
            top: 210px;
            color:var(--primary-color);
            font-size:28px;
            
            @media screen and (max-width:1000px){
                font-size: 28px;
                top: 210px;
                right: 30px;
            }
        }
        
    }
    .controls {
        display: flex;
        width: 6.5rem;
        height: 4rem;
        margin:.2rem;
        position: absolute;
        left: 80%;
        top: 80%;
        justify-content: space-between;

        .control{
            width: 1rem;
            border-radius: 50%;
            height: 1rem;
            background-color: var(--white-color);
            cursor: pointer;
            box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.21);
        }
    }
}

@media screen and (max-width:800px){
    .showcase{
        .textBox{
        h2{
            width: 90%;
            margin: 1rem auto;
            font-size: 20px;
        }
        p{
            margin: 0 .5rem;
            width: 90%;
            font-size: 14px;
        }

        i{
            right: 10px;
            top: 210px;
        }
    }
    .controls{
        top: 60%;
        display: none;
    }
    }
    
}

@media screen and (max-width:500px){
    .showcase{
        .textBox{
            p{
                font-size: 10px;
            }
            i{
                right: 5px;
                top: 200px;
            }
        }
    }
}