:root{
  --primary-color:#0056a8;
  --secondary-color:#f6303f;
  --white-color:#ffffff;
  --grey-color:#545e5f;
  --light-grey-color:#f6f8f9;
  --black-color:#303637;
}

*{
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

  
}